resources/event_xsd.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="event">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="routing_key" type="xs:string"/>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="date" type="xs:date"/>
                <xs:element name="start_time" type="xs:string"/>
                <xs:element name="end_time" type="xs:string"/>
                <xs:element name="location" type="xs:string"/>
                <xs:element name="speaker">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user_id" type="xs:string"/>
                            <xs:element name="company_id" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="max_registrations" type="xs:integer"/>
                <xs:element name="available_seats" type="xs:integer"/>
                <xs:element name="description" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>