resources/user_xsd.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="routing_key" type="xs:string"/>
                <xs:element name="user_id" type="xs:string"/>
                <xs:element name="first_name" type="xs:string"/>
                <xs:element name="last_name" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="telephone" type="xs:string"/>
                <xs:element name="birthday" type="xs:date"/>
                <xs:element name="address">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="country" type="xs:string"/>
                            <xs:element name="state" type="xs:string"/>
                            <xs:element name="city" type="xs:string"/>
                            <xs:element name="zip" type="xs:string"/>
                            <xs:element name="street" type="xs:string"/>
                            <xs:element name="house_number" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="company_email" type="xs:string" minOccurs="0"/>
                <xs:element name="company_id" type="xs:string" minOccurs="0"/>
                <xs:element name="source" type="xs:string" minOccurs="0"/>
                <xs:element name="user_role">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Speaker"/>
                            <xs:enumeration value="Individual"/>
                            <xs:enumeration value="Employee"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="invoice">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Yes"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
